 
h2 {
  color: #37474f;
  text-decoration: underline;
  text-align: left;
}
 
.main {
  font-size: 16px; /* Increased text to enable scrolling */
  padding: 5%;
}

input[type=text], select {
  width: 100%;
  color: #37474f;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #37474f;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="Password"] {
  -webkit-text-security: circle;
  width: 100%;
  color: #37474f;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #37474f;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #37474f;
  color: #f1f1f1;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #b4c3cb;
}
