.header_title{
  padding-left: 15%;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-right: 30%;
}

.left {
  float: center;
  width: 73%;
}

.row2{
  width: 50%;
  padding-left: 4rem;
}

.centercolumn {
  float: none;
  width: 100%;
}

.row{
  padding-left: 4rem;
}

/* Right column */
.right {
  float: left;
  width: 25%;
  padding-left: 1rem;
}


.fakeimg {
  background-color: #aaa;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 35px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#just-line-break {
  white-space: pre-line;
}

#line-break-and-tab {
  white-space: pre-wrap;
}
